{% extends 'base.html.twig' %}

{% block title %}
	accueil
{% endblock %}

{% block monTitre %}
	Bienvenue chez We'r Genealogie
{% endblock %}

{% block body %}




        
        <h3 class="text-center">"Faîtes des voyages intergénérationnels en un simple clic"</h3>





{% endblock %}