{% extends 'base.html.twig' %}

{% block title %}Formulaire
{% endblock %}

{% block monTitre %}
	Formulaire
{% endblock %}

{% block body %}
	<div class="col-6 mx-auto mb-3">
		<h4>Ajout d'une nouvelle personne :</h4>
		<div class="border my-3 p-2">
            {{ form(form) }}
		</div>
    </div>
{% endblock %}
